<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>servers app</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/jquery/src/jquery.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <script src="appBase/components/signup/signupModule.js"></script>
    <script src="appBase/components/signup/signupController.js"></script>
    <script src="appBase/components/servers/serversModule.js"></script>
    <script src="appBase/components/servers/serversService.js"></script>
    <script src="appBase/components/servers/serversController.js"></script>
    <script src="appBase/components/user/userModule.js"></script>
    <script src="appBase/components/user/userController.js"></script>
    <script src="appBase/appBase.js"></script>
</head>
<body ng-app="appBase">
<!--<div th:if="${param.error}">-->
<!--Invalid username and password.-->
<!--</div>-->
<!--<div th:if="${param.logout}">-->
<!--You have been logged out.-->
<!--</div>-->
<div class="row">
    <div class="col-md-2 col-md-offset-5">

        <h3>login:</h3>
        <form th:action="@{/login}" method="post">
            <div><label> username <input type="text" name="username"/> </label></div>
            <div><label> password <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="ok"/></div>
        </form>

        <h3>nowe konto:</h3>

        <div ng-controller="userController">
            <form action="" method="post">
                <div><label> username <input type="text" name="username_f" ng-model="username"/> </label></div>
                <div><label> password <input type="password" name="password_f" ng-model="password"/> </label></div>
                <button ng-click="addUser(username, password)">ok</button>
            </form>
        </div>
    </div>
</div>


</body>
</html>